body {
    font-family: Arial, sans-serif;
    background: #dff1ff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
}

.title {
    text-align: center;
    color: #004aad; /* biru tua */
    margin-bottom: 20px;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    margin: 5px 0;
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: #ffd700; /* gold */
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #e5c100;
}

h3, h4 {
    color: #004aad;
}